     <div class="login">
      <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter username" required/>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" placeholder="Enter password" required/>
        <input type="submit" id="submit" value="Log In"/>
         </form>
         </div>
         

 <div class="signup">
   <img class="people" src="/images/signup.jpg" alt="people enjoying coffee">
   <div class="signup-text">
   <h1> Become a member of Roast today with one month free!</h1>
   <p> We are that confident that you'll love us.</p>
   </div>
   
  <div class="signup-form">
   <form action="/signup" method="POST">
   <div class="signup-form">
   <label for="username">Username:</label>
   <input type="text" name="username" id="username" placeholder="Enter your email address here" required/> <br>
   <label for="password">Password:</label>
   <input type="password" name="password" id="password" placeholder="Enter your password here" required/> <br>
   <label for="password_repeaat">Reenter Password:</label> 
   <input type="password" id="password" placeholder="Reenter your password" required/> <br>
   <input type="submit" id="submit" value="Start Your Journey"/></a>
   </form>
   </div>
</div>
