<form action="/signup" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" placeholder="Enter your email address here" required/>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="Enter your password here" required/>
  <label for="password_repeat" id="password_repeat" placeholder="Reenter your password" required/> 
  <input type="submit" id="submit" value="Start Your Journey"/>
</form>