
<div id="new">
<h1> YAS. Welcome to Flavortown! </h1>
<p> So, you signed up queen? What's next?</p>
<p> Fill out this form below to get your first coffee! </p>

<form action="/coffees" method="POST">
  <label for="flavor">Flavor </label>
  <input type="text" name="flavor"  value="flavor">
  <label for="price">price</label>
  <input type="text" name="price"  value="price">
  <input type="submit" value="Submit">
</form>

<a href="/logout">Bye Felicia!</a>
</div>