<form action="/coffees" method="POST">
  <label for="flavor">Flavor </label>
  <input type="text" name="flavor"  value="flavor">
  <label for="price">price</label>
  <input type="text" name="price"  value="price">
  <input type="submit" value="Submit">
</form>