<div class="new-wrapper">
<img class="bean" src="/images/coffee-bean.jpg" alt="coffee bean">
<div id="new">
<h1> YAS QUEEN. </h1>
<h2> Welcome to Flavortown! </h2>
<p> So, you signed up and you're probably wondering, "What's next?" </p>
<p> Fill out this form below to get started! </p>

<div class="new-form">
<form action="/coffees" method="POST">
  <label for="flavor">I like my coffee to taste:</label>
  <select name="flavor" id="flavor" >
  <option value="Fruity, Floral, Herbal">Fruity, Floral, Herbal</option>
  <option value="Nutty, Caramel, Chocolate">Nutty, Caramel, Chocolate</option>
  <option value="Spicy, Smoky, Woody">Spicy, Smoky, Woody</option> 
  </select> <br>
  <label for="price">My coffee level:</label>
  <select name="price" id="price" >
  <option value="Morning Pick-Me-Up 9.99/mo">Morning Pick-Me-Up 9.99/mo</option>
  <option value="The Filthy Casual 9.99/w">The Filthy Casual 9.99/wk</option>
  <option value="The Addict 19.99/wk">The Addict 19.99/wk</option>
  <option value="The Connoisseur 29.99/wk">The Connoisseur 29.99/wk</option>
  </select> <br>
  <input type="submit" value="Submit My Order">
</form>

<a href="/logout">Done with today? Click <em>here</em> to log out!</a>
</div>
</div>
</div>