<div class="coffees2">
  <div class="list">
  <img class="bg" src="/images/coffeebg.jpg" alt="coffee background">
<h1>OMG. Great choice! </h1>
<h2>See below for your current order!</h2>
<h3>Oh, btw. You can totally edit before shipping.</h3>
<h4> <%= @coffee.flavor %></h4>
<h4> <%= @coffee.price %></h4>

<p> If you were a hot mess and messed up your order, please click below to edit!</p>
<form action="/coffees/<%=@coffee.id%>/edit">
<input type="hidden" id="hidden" name="_method" value="Delete">
<input type="submit" value="Edit or Delete">
</form>

<div id="info2">
  <p>If you're not happy with your order, feel free to please contact us:</p>
  <p><i style='font-size:24px' class='fas'>&#xf095;</i> Call us: (800)-555-1234</p>
  <p><i style='font-size:24px' class='fas'>&#xf075;</i> Email us: customerservice@roast.com</p>
  <p>If you need to make another order, please refer back to order form <a href="/coffees/new">here </p>
  <a href="/logout" class="button2">Click here to log out</a>
    </div>
  </div>
 </div>
</div>
