<div class="coffees">
  <div class="list">
  <img class="bg" src="/images/coffeebg.jpg" alt="coffee background">
<h2>Welcome</h2>
<h3> <%= @coffee.flavor %></h3>
<h3> <%= @coffee.price %></h3>

<p> If you're unsatisfied with your order, please click below to edit!</p>
<form action="/coffees/<%=@coffee.id%>/edit">
<input type="hidden" id="hidden" name="_method" value="Delete">
<input type="submit" value="Edit or Delete">
</form>
</div>
</div>
