     <div class="login">
      <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter username" required/>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" placeholder="Enter password" required/>
        <input type="submit" id="submit" value="Log In"/>
         </form>
         </div>
         
      <div class="wrapper">
      <img class="coffee" src="/images/coffee.jpg" alt="coffee">
      <div class="main-page">
      <h2>Meet your coffee soulmate.</h2>
      <h3>Warm? Full-bodied? Crisp?</h3>
      <h3>We got you covered.</h3>
      
      <p>Here, you can customize the perfect coffee to meet your needs. Whether you need it to
      function out in the world or simply enjoy the taste, there's a little somethin' somethin'
      for everyone.</p>
      
      <p>So, what are you waiting for? Click below to meet your one and only.</p>
    <div class="button">     
      <a href="/signup" class="button"> Whatcha waiting for?</a>
      </div> 
      </div>
    </div>