<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Custom Coffee Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet/style.css">
    </head>
    <div id="logo">
      <img src="/images/logo.jpg" alt="logo">
    <nav>
      <ul>
      <li><a href="/discover">Discover</a></li>
      <li><a href="/location">Location</a></li>
      <li><a href="/about">About</a></li>
      </ul>
      </nav>
      </div>
      <body>
        
      <%=yield %>
    
    </body>
</html>