<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Custom Coffee Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    </head>
    <div id="logo">
      <img src="/images/logo.jpg" alt="logo">
    <nav>
      <ul>
      <li><a href="/discover">Discover</a></li>
      <li><a href="/location">Location</a></li>
      <li><a href="/about">About</a></li>
      </ul>
      </nav>
      </div>
      <body>
        
      <%=yield %>
    
    </body>
</html>